<div class="row">
	<div class="col-md-10 col-md-offset-1 right-block">
		<h5 style="text-align:center;"><strong>Estimated annual outputs:</strong></h5>
		<table class="table table-hover" style="text-align:center;">
			<thead>
				<tr>
					<td><strong>AC</strong></td>
					<td><strong>SOLRAD</strong></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{estimation.outputs.ac_annual | number:'1.2-2'}} kWh/m2</td>
					<td>{{estimation.outputs.solrad_annual | number:'1.2-2'}} kWh/m2/day</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-10 col-md-offset-1 right-block">
		<h5 style="text-align:center;"><strong>Estimated monthly outputs:</strong></h5>
		<table class="table table-hover" style="text-align:center;">
			<thead>
				<tr>
					<td><strong>Month</strong></td>
					<td><strong>AC <i class="fa fa-question-circle"></i></strong> (kWh/m2)</td>
					<td><strong>POA <i class="fa fa-question-circle"></i></strong> (kWhac)</td>
					<td><strong>SOLRAD <i class="fa fa-question-circle"></i></strong> (kWh/m2/day) </td>
					<td><strong>DC <i class="fa fa-question-circle"></i></strong> (kWhdc) </td>
				</tr>
			</thead>
			<tbody>
				<tr *ng-for="#month of months; #i = index">
					<td>{{month}}</td>
					<td>{{estimation.outputs.ac_monthly[i] | number:'1.2-2'}}</td>
					<td>{{estimation.outputs.poa_monthly[i] | number:'1.2-2'}}</td>
					<td>{{estimation.outputs.solrad_monthly[i] | number:'1.2-2'}}</td>
					<td>{{estimation.outputs.dc_monthly[i] | number:'1.2-2'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>