
	<div class="col-md-12 block">
		<h5 style="text-align:center;"><strong>Estimated annual outputs:</strong></h5>
		
		<table class="table table-hover" style="text-align:center;">
			<thead>
				<tr>
					<td><strong>AC</strong><br /> alternating current</td>
					<td><strong>SOLRAD</strong><br /> solar radiance</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{estimation.outputs.ac_annual | number:'1.2-2'}} kWhac</td>
					<td>{{estimation.outputs.solrad_annual | number:'1.2-2'}} kWh/m2/day</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-12 block">
		<h5 style="text-align:center;"><strong>Estimated monthly outputs:</strong></h5>
		<table class="table table-hover" style="text-align:center;">
			<thead>
				<tr>
					<td><strong>Month</strong></td>
					<td><strong>AC (kWhac)</strong><br /> alternating current</td>
					<td><strong>POA (kWh/m2)</strong><br /> plane of array irradiance values</td>
					<td><strong>SOLRAD (kWh/m2/day)</strong><br /> sola radiance</td>
					<td><strong>DC (kWhdc)</strong><br /> direct current</td>
				</tr>
			</thead>
			<tbody>
				<tr *ng-for="#month of months; #i = index">
					<td>{{month}}</td>
					<td>{{estimation.outputs.ac_monthly[i] | number:'1.2-2'}}</td>
					<td>{{estimation.outputs.poa_monthly[i] | number:'1.2-2'}}</td>
					<td>{{estimation.outputs.solrad_monthly[i] | number:'1.2-2'}}</td>
					<td>{{estimation.outputs.dc_monthly[i] | number:'1.2-2'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
