<div class="col-md-12 block"> 
	<h5 style="text-align:center;"><strong>Photovoltaic power plant info</strong></h5>

	<table class="table" style="text-align:center;">
		<thead>
			<tr>
				<td><strong>Name</strong></td>
				<td><strong>Description</strong></td>
				<td><strong>Latitude</strong></td>
				<td><strong>Longitude</strong></td>
				<td><strong>Running since</strong></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{system.channel.name}}</td>
				<td>{{system.channel.description}}</td>
				<td>{{system.channel.latitude}}</td>
				<td>{{system.channel.longitude}}</td>
				<td>{{system.channel.created_at}}</td>
			</tr>
		</tbody>
	</table>
</div>