<div class="row" style="padding-top:50px;">
	<!-- Center -->
	<div class="col-md-6 col-md-offset-3 block" style="text-align:center;">
		<h5>Author</h5>
		<p>
			Application is written by <a href="http://github.com/GregaVrbancic">Grega Vrbančič</a>.
		</p><br />

		<h5>Credits</h5>
		<p>
			This application is written with <a href="https://angular.io">Angular2</a> framework and <a href="http://getbootstrap.com">Twitter Bootstrap</a> CSS framework.
		</p>
		<p>
			This project in based on ng2-play Angular2 seed project. A minimal <a href="https://angular.io">Angular2</a> playground using <a href="http://www.typescriptlang.org">TypeScript</a> and <a href="https://github.com/systemjs/systemjs">SystemJS loader</a>.</p>

		<p>
			For drawing charts is used component <a href="https://github.com/valor-software/ng2-charts">ng2-charts</a> based on <a href="http://www.chartjs.org">Chart.js</a> library.</p>
	</div>
</div>